Library/
Temp/
*.lock
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/EditorInstance.json
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-wal
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/DesignTimeBuild/.dtbcache
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-shm
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-wal
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/metadata/cf/cf0ff2b7832651c4aa4253de558f3179
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll.mdb
Library/ScriptAssemblies/UnityEditor.StandardEvents.dll
Library/ScriptAssemblies/UnityEditor.StandardEvents.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/EditorInstance.json
Library/shadercompiler-UnityShaderCompiler.exe0.log
Assets/Blueprints/xnl.blueprint.meta
Assets/Blueprints/xml.blueprint
Assets/Blueprints/xml.blueprint.meta
Assets/Blueprints/xnl.blueprint
Assets/Blueprints/awadwdawd.blueprint.meta
Assets/Blueprints/awadwdawd.blueprint
.vs/UnityNodeBlueprints/v15/.suo
