Library/
Temp/
*.lock
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/EditorInstance.json
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-wal
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/DesignTimeBuild/.dtbcache
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-shm
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide-wal
.vs/UnityNodeBlueprints/v15/.suo
.vs/UnityNodeBlueprints/v15/Server/sqlite3/storage.ide
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/metadata/cf/cf0ff2b7832651c4aa4253de558f3179
Library/assetDatabase3
